* {
    position: relative;
}

body {
    background: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
}

.container {
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.row {
    position: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.col {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
}

.col:nth-child(3n) {
    margin-right: 0;
}

.preview {
    width: 100%;
    margin-bottom: 0;
    display: block;
}

.bottom {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 50px;
    position: flex;
    align-items: center;
}

.avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 10px;
}

.intro {
    position: absolute;
    color: white;
    left: 70px;
    font-size: 15px;
    font-weight: 400;;
}
.intro .channel_name {
    margin-bottom: 10px;
}